.main-content
	.inner
		.main-top-bread.cc
			.fl.mt10
				全站概况
				em.p5 >
				指标概况
			.fr
				.top-c-date
					a(href="#") 昨日
					a.current(href="#") 近7天
					a(href="#") 近30天
					a.download.current(href="#") 下载
		.compare-bar.pt20.pb20.cc
			.fl
				select
					option UV
				span 对比
				select
					option 请选择
			.fr
				.top-c-date
					a(href="#") 小时
					a.current(href="#") 天
		.charts

		.data-items
			table(width="100%")
				colgroup
					col(width="20%")
					col(width="20%")
					col(width="20%")
					col(width="20%")
					col(width="20%")

				tr
					td.current
						.liinner
							h3 PV
							p.cc
								b.fl 1320,000
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 UV
							p.cc
								b.fl 1320,000
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td.cur-compare
						.liinner
							h3 session数
							p.cc
								b.fl 1320,000
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 到访用户数
							p.cc
								b.fl 1320,000
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 到访付费用户数
							p.cc
								b.fl 1320,000
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
				tr
					td
						.liinner
							h3 单PVsession数
							p.cc
								b.fl 1320,000
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 跳出率
							p.cc
								b.fl 67.90%
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 单pv用户数
							p.cc
								b.fl 1320,000
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 访问深度
							p.cc
								b.fl 132099
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 到访时间
							p.cc
								b.fl 134.44S
							h4 环比:
								b -2.4%
				tr
					td
						.liinner
							h3 用户访问深度
							p.cc
								b.fl 134,890
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 注册用户数
							p.cc
								b.fl 89%
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 注册用户停留时间
							p.cc
								b.fl 134,890
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 付费用户停留时间
							p.cc
								b.fl 134,890
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 订单数
							p.cc
								b.fl 456.ddS
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
				tr
					td
						.liinner.first
							h3 支付订单数
							p.cc
								b.fl 456.ddS
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 下单用户
							p.cc
								b.fl 456.ddS
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 支付用户数
							p.cc
								b.fl 456.ddS
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 订单金额
							p.cc
								b.fl 456.ddS
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%
					td
						.liinner
							h3 支付订单金额
							p.cc
								b.fl 456.ddS
								i |
								span.fr 日均
									em 120,000
							h4 环比:
								b -2.4%





