.inner
	dl.nav-qz
		dt 全站概况
			em
		dd
			ul
				li
					a(href="#") 指标概况
				li
					a(href="#") 流量地图
	dl.nav-mydata
		dt 我的数据
			em
	dl.nav-page
		dt 频道及页面
			em
	dl.nav-resource
		dt 来源/转化分析
			em
		dd
			ul
				li
					a(href="#") 来源类型分析
				li
					a(href="#") 入口页分析
				li
					a(href="#") 渠道推广分析
				li
					a(href="#") 搜索来源分析
				li
					a(href="#") 用户注册分析
				li
					a(href="#") 网站订单分析
	dl.nav-fk
		dt 访客分析
			em
	dl.nav-sys
		dt 系统配置
			em