.topbar
	.inner.cc
		.logo.fl
		.fr
			.right-item
				.top-style-link
					a(href="#") A+
					a(href="#") 云图
					a(href="#") SPM
			.right-item
				.top-login
					span.user-info vivi@aliyun.com
			.right-item
				.top-page
					a(href="#") 阿云版
						em
			.right-item
				.top-ask
					a(href="#")

