doctype html
html(lang="en")
	head
		title 数据统计
		link(rel="stylesheet",href="./styles/reset.css")
		link(rel="stylesheet",href="./styles/main.css")
	body
		include ./html/topbar
		.main
			.side-bar
				include ./html/sidebar
			include ./html/content
